<section id="contact">
	<div class="banner">
		<div class="container" style="text-align:center;">

			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
						{% for email in site.email %}
							<a href="mailto:{{ email }}" class="btn btn-success btn-lg">
							<i class="fa fa-envelope fa-fw"></i> 
							<span class="network-name">Email</span></a>
						{% endfor %}
						{% for social in site.social.accounts %}
							<a href="{{ social.url }}" class="btn btn-info btn-lg">
							<i class="fa fa-{{ social.title }} fa-fw"></i> 
							<span class="network-name">{{ social.title }}</span></a>
						{% endfor %}
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->