

<div class="modal fade" id="contactFormModal" tabindex="-1" role="dialog" 
aria-labelledby="contactFormModalLabel" data-toggle-children="#contactForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="contactFormModalLabel">
        Contact Form</h4>
      </div>
      <div class="modal-body">
      <header>
      <p>Do you have a question or ideas for us? <br/>
      We'll get back to you in a couple days.</p>
      </header>

        <form id="contactForm" data-firebase-path="research/contact">
          <div class="form-group has-warning" id="contact-email">
            <label for="input-contact-email" class="control-label">
            Email Address : 
            </label>
            <input id="input-contact-email" type="email" name="email" class="form-control">
            <span class="pull-right help-block">This field is required.</span>
          </div>
          <div class="form-group" id="contact-preferred-event">
            <label for="input-contact-preferred-event" class="control-label">
            Message: </label>
              <textarea id="input-contact-message"
              type="text" name="preferred-event" class="form-control"></textarea>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
        Cancel
        </button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal"
        onclick="submitForm('contactForm')">
        Send
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="interestFormModal" tabindex="-1" role="dialog" 
aria-labelledby="interestFormModalLabel" data-toggle-children="#interestForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="interestFormModalLabel">
        Launching in {{site.launchdate}}</h3>
      </div>
      <div class="modal-body">
        <form id="interestForm" data-firebase-path="research/athlete-interest" class="form-horizontal">
          <header>
          <p>
          We'll sign you up as soon as we're live.
          </p>
          </header>
          <div class="form-group has-warning" id="interest-email">
            <label for="input-interest-email" class="control-label col-sm-3">
            Email Address: </label>
            <div class="col-sm-9">
              <input id="input-interest-email" type="email" name="email" class="form-control">
              <span class="pull-right help-block">This field is required.</span>
            </div>
          </div>

          <div class="form-group" id="interest-private-beta">
            <label for="input-interest-private-beta" class="control-label col-sm-3">
            Private Beta:</label>
            <div class="col-sm-9">
              <p id="input-help-interest-private-beta" class="help-block">
              <big>Jump in early as a "Private Beta" participant this summer. </big><br>
              Work closely with us to design, launch, and run a <a href="#pricing" data-dismiss="modal" class="page-scroll">Collaborative Fundraising Campaign</a> of your own.</p>
               <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-warning toggle active">
                  <i class="fa fa-check fa-fw show-on-active"></i> 
                  <input type="radio" name="private-beta" value="false" autocomplete="off" checked> 
                  No Thanks
                </label>
                <label class="btn btn-warning toggle">
                  <i class="fa fa-check fa-fw show-on-active"></i> 
                  <input type="radio" name="private-beta" value="true" autocomplete="off" 
                  id="input-interest-private-beta"> 
                  Yes! Private Beta
                </label>
              </div>
            </div>
          </div>

          <fieldset id="interestFormDetails" class="collapse">

          <p>What is your experience in other charitable fundraising events?</p>

          <div class="form-group" id="interest-previous-fundraising-flexibility">
            <label for="input-interest-previous-fundraising-flexibility" class="control-label col-sm-3">
            Did you have the flexibility to fundraise as you wish?</label>
            <div class="col-sm-9">
              <textarea id="input-interest-previous-fundraising-flexibility"
              name="previous-fundraising-flexibility" class="form-control"></textarea>
            </div>
          </div>

          <div class="form-group" id="interest-previous-fundraising-support">
            <label for="input-interest-previous-fundraising-support" class="control-label col-sm-3">
            Were you supported in all your fundraising efforts?</label>
            <div class="col-sm-9">
              <textarea id="input-interest-previous-fundraising-support"
              name="previous-fundraising-support" class="form-control"></textarea>
            </div>
          </div>

          <div class="form-group" id="interest-previous-fundraising-expenses">
            <label for="input-interest-previous-fundraising-expenses" class="control-label col-sm-3">
            Were you financially reimbursed for your campaign expenses?</label>
            <div class="col-sm-9">
              <textarea id="input-interest-previous-fundraising-expenses"
              name="previous-fundraising-expenses" class="form-control"></textarea>
            </div>
          </div>

          <div class="form-group" id="interest-previous-fundraising-respect">
            <label for="input-interest-previous-fundraising-respect" class="control-label col-sm-3">
            Did you feel respected as a valuable fundraiser?</label>
            <div class="col-sm-9">
              <textarea id="input-interest-previous-fundraising-respect"
              name="previous-fundraising-respect" class="form-control"></textarea>
            </div>
          </div>

          <p>How would you fundraise with Carry.Us.Org?</p>

          <div class="form-group" id="interest-preferred-event">
            <label for="input-interest-preferred-event" class="control-label col-sm-3">
            What athletic activities would be your fundraising focus?</label>
            <div class="col-sm-9">
              <textarea id="input-interest-preferred-event" name="preferred-event" 
              class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group" id="interest-preferred-charity">
            <label for="input-interest-preferred-charity" class="control-label col-sm-3">
            What charity would you support?</label>
            <div class="col-sm-9">
              <input for="input-interest-preferred-charity" 
              type="text" name="preferred-charity" class="form-control">
            </div>
          </div>
          <div class="form-group" id="interest-preferred-charity-goal">
            <label for="input-interest-preferred-charity-goal" class="control-label col-sm-3">
            What would be your fundraising goal?</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input id="input-interest-preferred-charity-goal"
                type="number" name="preferred-charity-goal" class="form-control">
              </div>
            </div>
          </div>

          </fieldset>
        </form>


      </div>
      <div class="modal-footer">
        <button class="btn btn-primary pull-left" type="button" data-toggle="collapse" data-target="#interestFormDetails" id="interestFormDetailsToggle" aria-expanded="false" aria-controls="collapseExample" onclick="$(this).hide()">
          Tell us about yourself…
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">
          Cancel
        </button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal" 
        onclick="submitForm('interestForm')">
          Send
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="alertDisplayModal" tabindex="-1" role="dialog" 
aria-labelledby="alertDisplayModalLabel" data-toggle-children="#alertDisplay">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
 <!--      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="alertDisplayModalLabel">
        Contact Form</h4>
      </div>-->
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-ok-button"  data-dismiss="modal">
        Ok
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script> -->

<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBoBudiu6KOQ-nWQScfCBJ_pU6kMr8VsTU",
    authDomain: "carryusorg.firebaseapp.com",
    databaseURL: "https://carryusorg.firebaseio.com",
    storageBucket: "project-1356332015033540846.appspot.com",
  };
  firebase.initializeApp(config);
</script>



<script>
function submitForm(formId){

  var $form = $('#'+formId);
  var formArray = $form.serializeArray();
  var formValues = {};
  var formData = $form.data();
  formData.$form = $form;
  console.log('formData:',formData);
  console.log('formArray:',formArray);
  event.preventDefault();
  for(input in formArray){
    console.log('parsing input:',input);
    formValues[formArray[input].name] = formArray[input].value;
  }
  sendToFirebase(formValues,formData,submitFormFirebaseCallback);
};

function submitFormFirebaseCallback(error,config){
  var $formModal = null;
  if(config.$form) $formModal = config.$form.parents('.modal').first();

    if(error) {
      showAlertDisplayModal("There was an error in saving the form. Please check that all required fields are complaete, and try again.","ERROR",$formModal);
    }else{
      showAlertDisplayModal("Success. Thank you for contacting us.","SUCCESS")
    }
}

function sendToFirebase(values,config,callback){
  values = values || {};
  config = config || {};
  var firebasePath = config.firebasePath || "";
  var myFirebaseRef = myFirebaseRef || firebase.database().ref(firebasePath);
  // var myFirebaseRef = myFirebaseRef || new Firebase("https://carryusorg.firebaseio.com/"+firebasePath);
      
  values.timestamp = firebase.database.ServerValue.TIMESTAMP;
  console.log('submitting values:',values);

  firebase.database().goOnline();
  myFirebaseRef.push(values, function(error){
    callback(error,config);
    firebase.database().goOffline();
  });

}

function showAlertDisplayModal(message,ALERT_TYPE,$nextModal){
  var $alert = $('#alertDisplayModal').clone();

  $('.modal-body',$alert).html('<p>'+message+'</p>');
  if($nextModal){
  $('.modal-ok-button',$alert).click(
    function(){
      $nextModal.modal('show');
    }
  );
  }
  $alert.on('hidden.bs.modal', function (e) {
    $alert.remove();
  });
  $alert.modal('show');
  // alert(message);
}


function hideElement(){
  $(this).hide();
}
// myFirebaseRef.child("location/city").on("value", function(snapshot) {
//   alert(snapshot.val());  // Alerts "San Francisco"
// });

</script>