    <section class="container" style="text-align:center;">

    <header class="row">
      <h2>Looking for Interested Athletes</h2>
    </header>

    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <p>
    If you are interested in fundraising for charitable causes, or have before and might like a better experience of it, please let us know. We're designing this for you, to help make a difference for all of us.
    </p>
    <p>
    <button type="button" class="btn btn-primary btn-lg" 
    data-toggle="modal" data-target="#interestFormModal">
    I'm Interested … </button>
    </p>

    </div>
    </div>

    </section>
