  <div class="jumbotron"
    {%if include.content.link %} 
    id="{{include.content.link | replace : ' ', '-'}}" 
    {%endif%}
    {%if include.content.img %}
    style="background-image:url('{{include.content.img}}');min-height:440px;margin-bottom:0"
    {%endif%}>
    <div class="container v-middle">
      <div class="row v-padding">
        <div class="col-lg-10 col-lg-offset-1 ">
          {%if include.content.icon %}
          <img class="icon" src="{{include.content.icon}}"/>
          {%endif%}
          {%if include.content.title %}
          <h1 class="title">{{ include.content.title }}</h1>
          {%endif%}
          {%if include.content.subtitle %}
          <h3 class="subtitle">{{ include.content.subtitle }}</h3>
          {%endif%}
        </div>
      </div>
      <div class="v-padding-large"></div>
      <div class="row v-padding">
        <div class="col-lg-10 col-lg-offset-1 ">
          {%if include.content.bodytitle %}
          <h3 class="bodytitle">{{ include.content.bodytitle }}</h3>
          {%endif%}
          {%if include.content.body %}
          <div class="body">
          {{ include.content.body | markdownify }}
          </div>
          {%endif%}
        </div>
      </div>

    </div>
    <!-- /.container -->
  </div>
  <attr class="attribution">{% include attribute.html img=include.content.img%}</attr>
  <!-- /.jumbotron -->


  {%comment%}
  <!-- <hr class="splash-divider"> -->
  <!-- <ul class="list-inline splash-social-buttons">
    {% for social in site.social %}
    <li>
      <a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
    </li>
    {% endfor %}
  </ul> -->
  {%endcomment%}