<form action="https://docs.google.com/forms/d/1nw5PZBWhx3XyoYf374QtyVmoSng2vTtivvjkcVq7koM/formResponse?embedded=true" target="_self" method="POST" id="mG61Hd">

If this sounds interesting to you … please share your thoughts.


What event, activity, or race would be your first fundraiser?
<textarea class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" rows="1" tabindex="0" aria-label="What event, activity, or race would be your first fundraiser?" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" name="Athletes" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
<input type="hidden" name="entry.1141501348" jsname="L9xHkb">


Is there a website for that?
<input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Is there a website for that?" aria-describedby="i.desc.1896677085 i.err.1896677085" name="Athletes" value="" dir="auto" data-initial-dir="auto" data-initial-value="">
<input type="hidden" name="entry.1049435340" jsname="L9xHkb">

What charity would you support?
<textarea class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" rows="1" tabindex="0" aria-label="What charity would you support?" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" name="Athletes" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
<input type="hidden" name="entry.1095654646" jsname="L9xHkb">

Do they have a website?
<input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Do they have a website?" aria-describedby="i.desc.108779847 i.err.108779847" name="Athletes" value="" dir="auto" data-initial-dir="auto" data-initial-value="">
<input type="hidden" name="entry.1941420943" jsname="L9xHkb">


How much would you like to raise for this charity?
<input type="number" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="How much would you like to raise for this charity?" aria-describedby="i.desc.1430151593 i.err.1430151593" name="Athletes" value="" dir="auto" data-initial-dir="auto" data-initial-value="">
<input type="hidden" name="entry.1912482494" jsname="L9xHkb">

What would motivate you to do such a thing?
<textarea class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" rows="1" tabindex="0" aria-label="What would motivate you to do such a thing?" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" name="Athletes" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
<input type="hidden" name="entry.284932863" jsname="L9xHkb">


If you’re interested to know when we will launch, we’d be happy to keep you posted via email.
<input type="email" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="If you’re interested to know when we will launch, we’d be happy to keep you posted via email." aria-describedby="i.desc.26434500 i.err.26434500" name="Athletes" value="" dir="auto" data-initial-dir="auto" data-initial-value="">
<input type="hidden" name="entry.1500825505" jsname="L9xHkb">

<input type="hidden" name="fvv" value="1">
<input type="hidden" name="draftResponse" value="[,,&quot;4321383670308680448&quot;]
">
<input type="hidden" name="pageHistory" value="0">
<input type="hidden" name="fbzx" value="4321383670308680448">

</form>